site_name: Bilal Mahmood's Portfolio
site_description: Bilal Mahmood's Portfolio Documentation
site_author: Bilal Mahmood
site_url: https://sahibbilal.github.io/mkdocs-portfolio/

nav:
  - Home: index.md
  - Blogs: blogs.md
  - SETUP: setup.md

theme:
  name: material
  palette:
    - scheme: default
      primary: blue
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: blue
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - navigation.indexes
  footer:
    - This documentation site is built using [MkDocs](https://www.mkdocs.org/) with the [Material theme](https://squidfunk.github.io/mkdocs-material/).
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/sahibbilal
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/mbilalmahmood/
    - icon: fontawesome/brands/facebook
      link: https://web.facebook.com/bilalmahmood.dev
extra_css:
  - https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css
  - assets/extra.css

markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.tabbed
  - attr_list
  - md_in_html
  - pymdownx.tasklist:
      custom_checkbox: true
  - tables
  - admonition
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
